@charset 'utf-8'

@use "sass:color"
@use "sass:map"
@use "bulma/sass" as bulma

// global variables for bulma-ribbon
$colors: ("white": (bulma.$white, bulma.$black), "black": (bulma.$black, bulma.$white), "light": (bulma.$light, bulma.$dark), "dark": (bulma.$dark, bulma.$light), "info": (bulma.$info, bulma.$light))
$grey-darker: bulma.$grey-darker
$grey-lighter: bulma.$grey-lighter
$white: bulma.$white

$size-small: bulma.$size-small
$size-normal: bulma.$size-normal
$size-medium: bulma.$size-medium
$size-large: bulma.$size-large

//@debug $grey-darker

//@use "bulma-ribbon/dist/css/bulma-ribbon.sass"

//@import "../../node_modules/bulma/bulma.scss"
@import "../../node_modules/bulma-ribbon/src/sass/index"
@import "../../node_modules/react-responsive-carousel/lib/styles/carousel.min.css"

@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css"

// Icons
@import 'icons'

html
  scroll-behavior: smooth

// Projects

// Navigation
.projects-pagination > a
  border: none


// Section

section .tile.is-child
  display: flex
  flex-direction: column
  //> .icons
    //@extend .content
  .link
    position: absolute
    top: 3.5em
    right: 0
    z-index: 2
    padding: 0 .75em

// Ribbons
.ribbon
  padding-bottom: .1em
  border-left-width: .2rem
  clip-path: polygon(0 0,100% 0,100% 100%,0 100%,0 100%,.5em 50%,0 0)


// Carousel
.carousel-container
  display: flex
  flex: 1 1 auto
  align-items: center

.carousel-root.hidden-controls
  button
    opacity: 0

.carousel-root > .carousel-slider > button
  position: absolute
  top: calc(50% - 20px)
  z-index: 2

  &.previous
    left: 10px

  &.next
    right: 10px

// Github
.section-github
  @extend .container
  display: flex
  flex-direction: column
  align-items: center

// Footer
footer.footer p > span.icon-text
  margin: 0 1rem
