@charset 'utf-8'

@import "../../node_modules/bulma/bulma.sass"

@import 'crt_effect'
//@import 'crt'

.resume
  //@extend .has-text-white-bis
  //@extend .has-text-success
  @extend .has-text-weight-semibold
  @extend .is-family-monospace

  @extend .has-background-black-bis
  display: flex
  min-height: 100vh

  color: #64DD17
  cursor: url('https://cdn.custom-cursor.com/db/cursor/32/Seashell_Pixel_Cursor.png') 0 0, default

  a
    color: #689F38
    cursor: url('https://cdn.custom-cursor.com/db/pointer/32/Seashell_Pixel_Pointer.png') 0 0, pointer

  .terminal
    @extend .container

  .cursor, .result.command
    &::before
      left: 0
      top: 0
      content: '>'
      padding-right: .5rem

  .cursor
    &::after
      right: 0
      content:"_"
      padding-left: .25rem
    
      animation: caretBlink 1.5s infinite

  .results
    margin-bottom: 1rem

    .result > div
      margin-left: 1rem

@keyframes caretBlink
  0%
    opacity: 0
  
  50%
    opacity: 0
  
  51%
    opacity: 1
  
  100%
    opacity: 1